<div class="grid">
  <div class="grid-container">
    <div class="grid-item">
      <app-card>
        <weather-hero [currentWeather]="currentWeather()"></weather-hero>
      </app-card>
    </div>
    <div class="grid-item">
      <app-card>
        <weather-map [focusLocation]="mapFocus()" (mapClicked)="onMapClicked($event)"></weather-map>
      </app-card>
    </div>
    <div class="grid-item">
      <app-card>
        <div class="search-container">
          <search-input [label]="'cityLabel' | translate"
                        (valueChange)="onValueChange($event)"
                        (submitClick)="submitSearch()">
          </search-input>
        </div>
        <div class="forecast-body">
          <div class="forecast-lists">
            <forecast-list [forecastWeather]="forecastWeather()" [enableEnglish]="enableEnglish()"></forecast-list>
          </div>
          <div class="plot">
            <forecast-chart [forecastWeather]="forecastWeather()" [enableEnglish]="enableEnglish()"></forecast-chart>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>
